<html>

  <head>
    <title>CYF Cats, etc</title>
  </head>

  <body>
    <h2>CYF - stuff about cats</h2>
    <img width='50%' src="https://cdn.glitch.com/94cfb3cf-1189-41d6-ba9f-e5b2c7a6f3a7%2Fgrapefruit_cat.jpg?1557593537587"/>
    <br/>
    <h2>Famous Cats</h2>
    <a href="/cats.json">Here are some famous cats (json format)</a>
    <h4>
      About
    </h4>
    <small>You can look at the source for this server at:
    <a href="https://glitch.com/~cyfcats">https://glitch.com/~cyfcats</a>
  </small>
  </body>

</html>
